
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 500px;
    background: white;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.left {
    width: 50%;
    padding: 40px;
}

.left h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.left input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background: #f2f2f2;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.options span {
    color: red;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #f05a59;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 20px 0;
    color: #999;
}

.google-btn, .fb-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background: white;
    cursor: pointer;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.signup-link{
    text-decoration: underline;
}


.right {
    width: 50%;
    background: url("login.jpg") center/cover no-repeat;
}
