* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: #eee;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 500px;
    background: white;
    display: flex;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.left {
    width: 50%;
    padding: 40px;
}

.left h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #777;
    margin-bottom: 30px;
}

.left input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background: #f2f2f2;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.options span {
    color: red;
}

.signup-btn {
    width: 100%;
    padding: 12px;
    background: #f05a59;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.right {
    width: 50%;
    background: url("login.jpg") center/cover no-repeat;
}

.error-box {
    background-color: #ffe6e6;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}